{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
        <title>
            {% block titulo %}Home - Alunos{% endblock %}
        </title>
    </head>
    <body>
        <aside id="logo-sidebar"
               class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
               aria-label="Sidebar">
            <div class="h-full px-3 py-4 overflow-y-auto text-black shadow-md shadow-slate-500">
                <a href="{% url 'home' %}" class="flex items-center pl-2.5 mb-5">
                    <span class="self-center text-xl font-bold whitespace-nowrap">SACSI</span>
                </a>
                <ul class="space-y-2">
                    <li>
                        <a href="{% url 'home' %}"
                           class="flex items-center p-2 text-base font-medium rounded-lg hover:bg-slate-300">
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor"
                                 viewBox="0 0 20 18">
                                <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z">
                                </path>
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Alunos</span>
                        </a>
                    </li>
                    <li>
                        <button type="button"
                                class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-slate-300"
                                aria-controls="dropdown-example"
                                data-collapse-toggle="dropdown-example">
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor"
                                 viewBox="0 0 18 18">
                                <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z">
                                </path>
                            </svg>
                            <span class="flex-1 ms-3 text-left font-medium rtl:text-right whitespace-nowrap">Modalidade</span>
                            <svg class="w-3 h-3"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"></path>
                            </svg>
                        </button>
                        <ul id="dropdown-example" class="py-2 space-y-2">
                            <li>
                                <a href="{% url 'listar_atividade_ensino' %}"
                                   class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-slate-200">Ensino</a>
                            </li>
                            <li>
                                <a href="{% url 'listar_atividade_pesquisa' %}"
                                   class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-slate-200">Pesquisa</a>
                            </li>
                            <li>
                                <a href="{% url 'listar_atividade_extensao' %}"
                                   class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-slate-200">Extensão</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'relatorio' %}"
                           class="flex items-center p-2 text-base font-medium rounded-lg hover:bg-slate-300">
                            <svg aria-hidden="true"
                                 class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75"
                                 fill="currentColor"
                                 viewBox="0 0 16 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 14V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 0 0 0-2h-1v-2a2 2 0 0 0 2-2ZM4 2h2v12H4V2Zm8 16H3a1 1 0 0 1 0-2h9v2Z">
                                </path>
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Relatório</span>
                        </a>
                    </li>
                    <li>
                        <a id="logout-link"
                           class="flex items-center p-2 text-base font-medium rounded-lg hover:bg-slate-300">
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 18 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3">
                                </path>
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Sair</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="p-8 sm:ml-64">
            {% block conteudo %}{% endblock %}
        </div>
        <div id="modal_logout" class="modal">
            <div class="modal-content">
              <h4>Tem certeza de que deseja sair?</h4>
              <div class="modal-footer">
                <a href="{% url 'logout' %}" class="bg-green-400 hover:bg-green-500 duration-150 cursor-pointer font-medium" id="confirmar">Confirmar</a>
                <a onclick="cancelar()" class="bg-red-400 hover:bg-red-500 duration-150 cursor-pointer" id="cancelar">
                  Cancelar
                </a>
              </div>
            </div>
        </div>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
