{% extends 'base.html' %}
{% load static %}
{% block titulo %}{{ title }}{% endblock %}
{% block conteudo %}
    <section id="content" class="flex justify-center items-center w-full">
        <form method="post" class="w-2/5 flex flex-col gap-y-2">
            <h1 class="text-xl font-bold uppercase mb-2">{{ title }}</h1>
            {% csrf_token %} {{ form.as_p }}
            <input class="btn font-bold bg-green-400 hover:bg-green-500 duration-150 cursor-pointer mt-2"
                   type="submit"
                   value="CADASTRAR" />
        </form>
    </section>
{% endblock %}
