{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <title>Login</title>
  </head>
  <body class="w-screen h-screen p-16 bg-slate-200">
    <section
      class="w-full h-full bg-white flex flex-col border border-green-500 rounded-xl border-8 shadow-2xl"
    >
      <div class="h-4/5 w-full flex">
        <div class="w-1/2 h-full flex items-center justify-center">
          <img class="w-1/2" src="{% static 'img/Logo.png' %}" alt="SACSI" />
        </div>
        <div class="w-1/2 h-full flex items-center justify-center">
          <div class="w-3/5 p-6 shadow-lg rounded-xl">
            <form method="post" class="flex flex-col gap-y-3">
              <h1 class="text-center font-bold text-3xl uppercase">Login</h1>
              {% csrf_token %} {{ form.as_p }}
              <input
                class="btn font-bold bg-green-400 hover:bg-green-500 duration-150 cursor-pointer mt-2"
                type="submit"
                value="ENTRAR"
              />
            </form>
          </div>
        </div>
      </div>
      <div <div class="h-1/5 p-6 flex items-center justify-center gap-x-2">
        <img
          class="h-full"
          src="{% static 'img/Logo-SI.png' %}"
          alt="Sistema de informação"
        />
        <img
          class="h-full"
          src="{% static 'img/UFAM-ICET.png' %}"
          alt="Ufam-Icet"
        />
      </div>
    </section>
  </body>
</html>
